@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-zoom-container {
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: transparent;
}

.button-zoom-container button {
  position: static;
  width: 32px;
  height: 32px;
  background-color: rgb(38 38 38);
  border-radius: 4px;
  color: white;
}

.button-zoom-container button:hover {
  background-color: rgb(38 38 38);
  color: white;
}

.label {
  background: white;
  border: 1px solid black;
  padding: 4px;
  text: white;
  user-select: none;
  pointer-events: none;
}

.label.selected {
  border: 3px solid orange;
}

.ol-overlay-container {
  pointer-events: none !important;
}

#info {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}
